@model ReflectionIT.Mvc.Paging.PagingList<appUser>

<form method="get" class="form-inline d-flex">
    <div class="input-group mb-3">
        <input name="filter" type="text" class="form-control" placeholder="filtro" aria-label="Recipient's username" aria-describedby="button-addon2" value="@Model.RouteValue["Filter"]">
        <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i> Procurar</button>
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th class="poppins-semibold">
                Nome de Usuário
            </th>
            <th class="poppins-semibold">
                Nome
            </th>
            <th class="poppins-semibold">
                E-mail
            </th>
            <th class="poppins-semibold align-content-center justify-content-center text-center">
                Status
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="poppins-regular">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="poppins-regular">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="poppins-regular">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="poppins-regular align-content-center justify-content-center text-center">
                    @if(item.LockoutEnabled){
                        <i style="color:red;" class="fa-solid fa-circle"></i>
                    }else{
                        <i style="color:green;" class="fa-solid fa-circle"></i>
                    }
                </td>
                <td class="text-end">
                    <div class="btn-group">
                        <a class="text-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp; &nbsp;
                        <a class="text-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-list"></i></a> &nbsp; &nbsp;
                        <a asp-action="BanAccount" asp-route-id="@item.Id"><i style="color:red;" class="fa-solid fa-ban"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>